<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Tailwind CDN -->
    <script src="https://cdn.tailwindcss.com"></script>

    <title>TChapinas</title>

    <style>
        .bg-pattern {
            background-image: url("../static/images/Index.jpg");
        }
    </style>
</head>
<body>
    {% include "navbar.html" %}

    <div class="h-screen bg-pattern flex items-center justify-center">
        <div class="text-center" style="color: white;">
            <h1 class="text-4xl font-bold text-green">Ricardo Andreé Panigua Rodenas</h1>
            <h1 class="text-4xl font-bold text-green">202111219</h1>
        </div>
    </div>
</body>
</html>
